/* 所有元素 */
*{
    /* 邊框 - bd */
    border: 0.5px solid rgba(255, 0, 0, 0);
     /* 字型 ff */
     font-family: 微軟正黑體;
     /*字體顏色 c#XXX*/
     color:  #ffffff;
      /* 字體寬度 fw */
    font-weight: 600;
     margin: 0;
     padding: 0;
}

body,html{
    /* 高度 h100p  */
    height: 100%;
    /* 背景圖片bgi */
    background-image: url("https://images.unsplash.com/photo-1512207855369-643452a63d46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80");
    /* 背景圖片大小 bgz */
    background-size:cover;
}

/* 盒子區塊 */
#box{
    /* background-color:rgba(0,0,0,0.3); */
    height: 500px;
    width: 800px;
    /* 外距：上 右 下 左 */
    margin: 20px auto 0 auto;
} 

/* 導覽列區塊 */
#logo{
    /* 字體大小fz2e兩倍大 */
    font-size: 2em;
}

nav a{
    /* 邊框底部 bdb */
    border-bottom: 1.5px solid #fff;
    /* 內距p */
    padding: 7px 10px;
}

/* hover 滑入 */
nav a:hover {
    background-color: rgba(143, 100, 71, 0.4);
}

a {
    /* 文字裝飾 td */
    text-decoration: none;
}

/* 指 nav 裡面的 div */
nav div{
    /* 浮動:靠右flr */
    float: right;
}

nav div a {
    margin-left: 40px;
}

/* 內容區塊 */
#content{
    width: 50%;
    margin-top: 100px;
}

#content a{
   border: 0.5px solid#fff;
   padding:20px 50px;
   background-color: rgba(143, 100, 71, 0.4);
}

#content p {
    margin: 60px 0;
}

#content a:hover{
    background-color: rgba(143, 100, 71, 0);
 }
 
/* 按扭區塊 */
#button {
    text-align: center;
    margin-top: 50px;
}

#button a {
    border: 0.5px solid #fff;
    padding: 28px;
    background-color: rgba(143, 100, 71, 0.4);
    border-radius: 50%;
    /* 行內區塊 dib */
    display: inline-block;
}

#button a.button-mr {
    margin-right: 100px;
}

#button a:hover {
    background-color: rgba(143, 100, 71, 0);
}

footer{
    background-color: rgba(143, 100, 71, 0.4);
    /* 定位：固定 psf */
    position: fixed;
    /* 底部距離 0 b0 */
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    /* 行高與高度相同：垂直至中，僅限一行內容 */
    line-height: 60px;
}

/* 關於我頁面 */
#about{
    width:650px;
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1512207643973-fef70e8cb699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=706&q=80");
    background-size: cover;
}
  
